body {
  font-family: 'Gabarito', cursive;
}

.side-bar {
  height:100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(201, 181, 243);
  padding-top: 15px;
}

.side-bar a {
  color:purple;
  display:block;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}

.add-new-set a {
  color:rgb(167, 15, 167);
}

.side-bar a:hover {
  color: #f1f1f1;
  background-color: rgb(212, 198, 243);
}

.main-page {
  margin-left: 200px;
  padding: 0 15px;
}

.title {
  font-size: 40px;
}

.main-card {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
}

.card {
  display: flex;
  width: 600px;
  height: 400px;
  align-items: center;
  justify-content: center;
  border: solid grey 1px;
  box-shadow: 1px 1px 3px grey;
  margin: 15px;
  font-size: 30px;
}

@media screen and (max-height: 450px) {
  .side-bar {padding-top: 15px;}
  .side-bar a {font-size: 18px;}
}